.bg-dark {
    background-color: #343a40;
}

body {
    padding-top: 20px;
    
}

.btn-default {
    top: 25%;
    left:25%; 
    color: #999; 
    background: #fffccc; 
} 

.login-block{
 background: cyan;
float:left;
width:100%;
border:2px solid black;
padding : 50px 0;
}

  .login-sec{padding: 50px 30px; position:relative; border:2px solid black;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto;}
.btn-login{background: #DE6262; color:#fff; font-weight:600;} 
 .carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}

/* .wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.form-title {
  font-family: 'Open Sans' , sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

form {
  width: 250px;
  margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"] {
  width: 100%;
  margin: 0;
  
  background: 0;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #FFFFFF;
  
}

form.login input[type="submit"] {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

form.login input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}

form.login .remember-forgot {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
}

form.login .forgot-pass-content {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

form.login label, form.login a {
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}

form.login a {
  transition: color 0.5s ease;
}

form.login a:hover {
  color: #2ecc71;
}

.pr-wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.show-pass-reset {
  display: block;
}

.pass-reset {
  margin: 0 auto;
  width: 250px;
  position: relative;
  margin-top: 22%;
  z-index: 999;
  background: #FFFFFF;
  
}

.pass-reset label {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}

.pass-reset input[type="email"] {
  width: 100%;
  margin: 5px 0 0 0;
  
  background: 0;
  border: 0;
  border-bottom: 1px solid #000000;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #000000;
  
}

.pass-reset input[type="submit"] {
  width: 100%;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}

.posted-by {
  position: absolute;
  bottom: 26px;
  margin: 0 auto;
  color: #FFF;
  
  padding: 10px;
  left: 45%;
} */

.navbar 
{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: .5rem 1rem;
padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;	
}

/*   .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
} 

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}


.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;

}

*, ::after, ::before {
    box-sizing: border-box;
}

input, textarea, select, button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    font: 400 13.3333px Arial;
} */

a:hover
{
	color: white;
}